body{
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
} 

.header, .footer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 7%; 
    background-color: #1F2937;
} 

.section1, .section2, .section3, .section4{
    width: 100%;
    min-height: 22.5%;
} 

.section1{
    padding-top: 3%;
    width: 80%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 3%;
} 

.headerLogo{
    font-weight: 700;
    padding-left: 50px;
    font-size: x-large;
} 

.links{
    font-size: small;
    margin-left: auto;
    padding-right: 50px;
    color: #F9FAF8;
    font-weight: 500;
}