body{
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
} 

.header, .footer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 7%; 
    background-color: #1F2937;
} 

.section1, .section2, .section3, .section4{
    width: 100%;
    min-height: 22.5%;
} 

.section1{
    padding-top: 3%;
    width: 80%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 3%;
} 

.headerLogo{
    font-weight: 700;
    padding-left: 50px;
    font-size: x-large;
} 

.links{
    font-size: small;
    margin-left: auto;
    padding-right: 50px;
    color: #F9FAF8;
    font-weight: 500;
} 
.hlink{
    margin-right: 30px;
}
.h1{
    text-decoration: none;
    color: white;
}

.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
} 

.s1Text{
    width: 300px;
    height: 255px;
} 

.s1ImgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 255px;
    height: 255px;
    margin-right: 35%;
} 
.s1img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.s1h1{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}