ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 8px;
}
a{
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
