body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: gray;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 8px;
}
a{
    text-decoration: none;
    font-size: 22px;
}

.signup{
    background-color: blue;
    color: white;
    border: 1px solid white;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 25px;

}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 8px;
}
.awesome{
    display: flex;
}

.awesome-div{
    display: flex;
    margin: auto;
    width: 80%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}
.awesome-main-div{
    width: 35%;
}
.awesome-main-div p{
    margin: 20px;
    margin-left: 0px;
}
img{
    max-width: 100%;
    width: 500px;
    height: 400px;
}
.carmages{
    width: 200px;
    border: 7px solid black;
}
.DADIV{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    width: 70%;
    height: 500px;
}
.DADIV .pics{
    display: flex;
    justify-content: space-around;
    
    
}
.DADIV .header-info{
    margin: 0px auto;
    font-size: 36px;
    font-style: italic;
}

.carmages:hover{
    background-color: blue;
}
.qoute_DIV{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qoute_DIV div{
    width: 50%;
}
.qoute_DIV div span{
    float: right;
    font-size: 32px;
    font-weight: bolder;
}

.bluediv{
    width: 70%;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bluediv div{
    display: flex;
}
.bluediv div .signupdiv{
    display: flex;
    flex-direction: column;
}
.bluediv div div{
    margin: 50px;
}